<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="register-container mt-5">
        <h2 class="text-center mb-4">Register</h2>
        <form (ngSubmit)="register()">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="registerModel.name" name="name" required>
          </div>

          <div class="mb-3">
            <label for="surName" class="form-label">Surname:</label>
            <input type="text" id="surName" class="form-control" [(ngModel)]="registerModel.surName" name="surName" required>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="registerModel.email" name="email" required>
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="text" id="phone" class="form-control" [(ngModel)]="registerModel.phone" name="phone" required>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" class="form-control" [(ngModel)]="registerModel.password" name="password" required>
          </div>

          <div class="mb-3">
            <label for="photoImage" class="form-label">Photo URL:</label>
            <input type="text" id="photoImage" class="form-control" [(ngModel)]="registerModel.photoImage" name="photoImage" required>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
